Node Red/Node Red Example1/Flows/GeorgeField3.json
[
    {
        "id": "32a335d3c15c5b7b",
        "type": "tab",
        "label": "GeorgeField3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2551f9af6ce1231c",
        "type": "ui_gauge",
        "z": "32a335d3c15c5b7b",
        "name": "",
        "group": "7bd23920a6aea95b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Tempature (Sensor17)",
        "label": "units",
        "format": "{{value}}",
        "min": "-15",
        "max": "45",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "5",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "930d2b9e98e61392",
        "type": "mqtt in",
        "z": "32a335d3c15c5b7b",
        "name": "GetTemp",
        "topic": "TempSensorData3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "71e366b4088e1fb7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 300,
        "wires": [
            [
                "2551f9af6ce1231c",
                "2692a7b3dd6446ef",
                "5f9deac9f79f9ab4"
            ]
        ]
    },
    {
        "id": "a25e0716ad85cf41",
        "type": "inject",
        "z": "32a335d3c15c5b7b",
        "name": "TempSensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "TempSensorData3",
        "payload": "20",
        "payloadType": "str",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "8029d2d339a48db9"
            ]
        ]
    },
    {
        "id": "be9ff743b41a84d3",
        "type": "mqtt out",
        "z": "32a335d3c15c5b7b",
        "name": "PubTemp",
        "topic": "TempSensorData3",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "71e366b4088e1fb7",
        "x": 420,
        "y": 300,
        "wires": []
    },
    {
        "id": "8029d2d339a48db9",
        "type": "function",
        "z": "32a335d3c15c5b7b",
        "name": "function 11",
        "func": "msg.payload = 25+(Math.random());\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 260,
        "wires": [
            [
                "be9ff743b41a84d3"
            ]
        ]
    },
    {
        "id": "cceb638bd8be3134",
        "type": "inject",
        "z": "32a335d3c15c5b7b",
        "name": "HumiditySensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "HumidityValue3",
        "payload": "80",
        "payloadType": "str",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "db59ffcf9c0ac480"
            ]
        ]
    },
    {
        "id": "db59ffcf9c0ac480",
        "type": "function",
        "z": "32a335d3c15c5b7b",
        "name": "function 12",
        "func": "msg.payload = 80+(Math.random()*2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 720,
        "wires": [
            [
                "65d7a88a18a95bde"
            ]
        ]
    },
    {
        "id": "65d7a88a18a95bde",
        "type": "mqtt out",
        "z": "32a335d3c15c5b7b",
        "name": "",
        "topic": "HumidityValue3",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "71e366b4088e1fb7",
        "x": 440,
        "y": 760,
        "wires": []
    },
    {
        "id": "62df8f5457d35e34",
        "type": "mqtt in",
        "z": "32a335d3c15c5b7b",
        "name": "",
        "topic": "HumidityValue3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "71e366b4088e1fb7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 640,
        "y": 760,
        "wires": [
            [
                "db65025cde8cb6c6",
                "2f67973c86c55ceb",
                "def24efca007388c"
            ]
        ]
    },
    {
        "id": "db65025cde8cb6c6",
        "type": "ui_gauge",
        "z": "32a335d3c15c5b7b",
        "name": "Air Humitidy (Sensor 18)",
        "group": "7bd23920a6aea95b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Humitidy (Sensor 18)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#fff7a3",
            "#afafff",
            "#0000ff"
        ],
        "seg1": "40",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 640,
        "wires": []
    },
    {
        "id": "c6c325731b61acf7",
        "type": "mysql",
        "z": "32a335d3c15c5b7b",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1050,
        "y": 240,
        "wires": [
            [
                "8a87db3a29b30467"
            ]
        ]
    },
    {
        "id": "8e9992705a69737e",
        "type": "inject",
        "z": "32a335d3c15c5b7b",
        "name": "SoilTempSensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SoilTemp3",
        "payload": "10",
        "payloadType": "num",
        "x": 230,
        "y": 1220,
        "wires": [
            [
                "131036dc1290864a"
            ]
        ]
    },
    {
        "id": "131036dc1290864a",
        "type": "function",
        "z": "32a335d3c15c5b7b",
        "name": "function 13",
        "func": "msg.payload = 25+(Math.random());\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1260,
        "wires": [
            [
                "656143b3cb286950"
            ]
        ]
    },
    {
        "id": "656143b3cb286950",
        "type": "mqtt out",
        "z": "32a335d3c15c5b7b",
        "name": "PublishSoilTemp",
        "topic": "SoilTemp3",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "71e366b4088e1fb7",
        "x": 610,
        "y": 1300,
        "wires": []
    },
    {
        "id": "94b66533929b4336",
        "type": "mqtt in",
        "z": "32a335d3c15c5b7b",
        "name": "GetSoilTemp",
        "topic": "SoilTemp3",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "71e366b4088e1fb7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 830,
        "y": 1300,
        "wires": [
            [
                "d64608355ed2248f",
                "3e1408855208be2b",
                "1a62bdccce9afe3a"
            ]
        ]
    },
    {
        "id": "d64608355ed2248f",
        "type": "ui_gauge",
        "z": "32a335d3c15c5b7b",
        "name": "Soil Tempature (Sensor 21)",
        "group": "33a23809813ba298",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil Tempature (Sensor 21)",
        "label": "units",
        "format": "{{value}}",
        "min": "-15",
        "max": "40",
        "colors": [
            "#0c00b3",
            "#00e62e",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 1200,
        "wires": []
    },
    {
        "id": "5f9deac9f79f9ab4",
        "type": "function",
        "z": "32a335d3c15c5b7b",
        "name": "Update Sensor17",
        "func": "//Get sensors data from join node\nvar tempSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 17;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 240,
        "wires": [
            [
                "c6c325731b61acf7"
            ]
        ]
    },
    {
        "id": "04de2d29676523d5",
        "type": "function",
        "z": "32a335d3c15c5b7b",
        "name": "function 14",
        "func": "msg.payload = 80+(Math.random()*2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1680,
        "wires": [
            [
                "ceae17b8b2a06704"
            ]
        ]
    },
    {
        "id": "bfe568b3396c4449",
        "type": "inject",
        "z": "32a335d3c15c5b7b",
        "name": "SoilHumiSensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SoilHumi3",
        "payload": "10",
        "payloadType": "num",
        "x": 230,
        "y": 1640,
        "wires": [
            [
                "04de2d29676523d5"
            ]
        ]
    },
    {
        "id": "ceae17b8b2a06704",
        "type": "mqtt out",
        "z": "32a335d3c15c5b7b",
        "name": "PublishHumitidyTemp",
        "topic": "SoilHumi3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "71e366b4088e1fb7",
        "x": 620,
        "y": 1720,
        "wires": []
    },
    {
        "id": "b283bb3abe39a9dc",
        "type": "mqtt in",
        "z": "32a335d3c15c5b7b",
        "name": "GetSoilHumi",
        "topic": "SoilHumi3",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "71e366b4088e1fb7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 830,
        "y": 1720,
        "wires": [
            [
                "419224405d211e99",
                "03e545025903d598",
                "d3f5d60dcffdb70a"
            ]
        ]
    },
    {
        "id": "419224405d211e99",
        "type": "ui_gauge",
        "z": "32a335d3c15c5b7b",
        "name": "Soil Humitidy (Sensor 22)",
        "group": "33a23809813ba298",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil Humitidy (Sensor 22)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#e4ff1a",
            "#00e60f",
            "#593acb"
        ],
        "seg1": "40",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 1640,
        "wires": []
    },
    {
        "id": "2692a7b3dd6446ef",
        "type": "function",
        "z": "32a335d3c15c5b7b",
        "name": "Deviation 2C",
        "func": "//Standar deviation 2 celsious\nmsg.payload+=(Math.random()*4-2);\n\n//Get sensors data\nvar tempSensorData =msg.payload;\nif(tempSensorData>46){\n    tempSensorData=46;\n}\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 2;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 360,
        "wires": [
            [
                "37d838a645639f3f",
                "4702885b80c09a5e"
            ]
        ]
    },
    {
        "id": "37d838a645639f3f",
        "type": "ui_gauge",
        "z": "32a335d3c15c5b7b",
        "name": "",
        "group": "4d9e7fc848bce1dd",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Tempature (Sensor19)",
        "label": "units",
        "format": "{{value}}",
        "min": "-15",
        "max": "45",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "5",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 360,
        "wires": []
    },
    {
        "id": "2f67973c86c55ceb",
        "type": "function",
        "z": "32a335d3c15c5b7b",
        "name": "Deviation 2C",
        "func": "//Standar deviation 2 celsious\nmsg.payload+=(Math.random()*4-2);\n\n//Get sensors data\nvar tempSensorData =msg.payload;\n//Check\nif(tempSensorData>100){\n    tempSensorData=100;\n}\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 2;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 820,
        "wires": [
            [
                "a140acc5c8939cac",
                "819f11d64a0a0001"
            ]
        ]
    },
    {
        "id": "a140acc5c8939cac",
        "type": "ui_gauge",
        "z": "32a335d3c15c5b7b",
        "name": "Air Humitidy (Sensor 20)",
        "group": "4d9e7fc848bce1dd",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Humitidy (Sensor 20)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#fff7a3",
            "#afafff",
            "#0000ff"
        ],
        "seg1": "40",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 820,
        "wires": []
    },
    {
        "id": "3e1408855208be2b",
        "type": "function",
        "z": "32a335d3c15c5b7b",
        "name": "Deviation 2C",
        "func": "//Standar deviation 2 celsious\nmsg.payload+=(Math.random()*4-2);\n\n//Get sensors data\nvar tempSensorData =msg.payload;\n//check data\nif (tempSensorData>=35){\n    tempSensorData=35;\n}\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 2;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1380,
        "wires": [
            [
                "79fc448baabf7897",
                "15e15ae341f92220"
            ]
        ]
    },
    {
        "id": "03e545025903d598",
        "type": "function",
        "z": "32a335d3c15c5b7b",
        "name": "Deviation 2C",
        "func": "//Standar deviation 2 celsious\nmsg.payload+=(Math.random()*4-2);\n\n//Get sensors data\nvar tempSensorData =msg.payload;\n//Check data\nif(tempSensorData>100){\n    tempSensorData=100;\n}\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 2;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1800,
        "wires": [
            [
                "5c4d171496015fb6",
                "b4b30b727ad9e85c"
            ]
        ]
    },
    {
        "id": "79fc448baabf7897",
        "type": "ui_gauge",
        "z": "32a335d3c15c5b7b",
        "name": "Soil Tempature (Sensor 23)",
        "group": "ba01d09971ee219a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil Tempature (Sensor 23)",
        "label": "units",
        "format": "{{value}}",
        "min": "-15",
        "max": "40",
        "colors": [
            "#0c00b3",
            "#00e62e",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 1280,
        "y": 1380,
        "wires": []
    },
    {
        "id": "5c4d171496015fb6",
        "type": "ui_gauge",
        "z": "32a335d3c15c5b7b",
        "name": "Soil Humitidy (Sensor 24)",
        "group": "ba01d09971ee219a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil Humitidy (Sensor 24)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#e4ff1a",
            "#00e60f",
            "#593acb"
        ],
        "seg1": "40",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 1290,
        "y": 1800,
        "wires": []
    },
    {
        "id": "8a87db3a29b30467",
        "type": "debug",
        "z": "32a335d3c15c5b7b",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 240,
        "wires": []
    },
    {
        "id": "4702885b80c09a5e",
        "type": "function",
        "z": "32a335d3c15c5b7b",
        "name": "Update Sensor19",
        "func": "//Get sensors data from join node\nvar tempSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 19;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "f87580e6b4163f39"
            ]
        ]
    },
    {
        "id": "f87580e6b4163f39",
        "type": "mysql",
        "z": "32a335d3c15c5b7b",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1250,
        "y": 440,
        "wires": [
            [
                "d873c7287f438cfd"
            ]
        ]
    },
    {
        "id": "d873c7287f438cfd",
        "type": "debug",
        "z": "32a335d3c15c5b7b",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 440,
        "wires": []
    },
    {
        "id": "def24efca007388c",
        "type": "function",
        "z": "32a335d3c15c5b7b",
        "name": "Update Sensor18",
        "func": "//Get sensors data from join node\nvar humiSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+humiSensorData+\"where sensor_id = 18;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 700,
        "wires": [
            [
                "e70df523582860f1"
            ]
        ]
    },
    {
        "id": "e70df523582860f1",
        "type": "mysql",
        "z": "32a335d3c15c5b7b",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1070,
        "y": 700,
        "wires": [
            [
                "e9d7c4a1d35c2d2a"
            ]
        ]
    },
    {
        "id": "e9d7c4a1d35c2d2a",
        "type": "debug",
        "z": "32a335d3c15c5b7b",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 700,
        "wires": []
    },
    {
        "id": "819f11d64a0a0001",
        "type": "function",
        "z": "32a335d3c15c5b7b",
        "name": "Update Sensor20",
        "func": "//Get sensors data from join node\nvar humiSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+humiSensorData+\"where sensor_id = 20;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 900,
        "wires": [
            [
                "79aae48ae36ea6f8"
            ]
        ]
    },
    {
        "id": "79aae48ae36ea6f8",
        "type": "mysql",
        "z": "32a335d3c15c5b7b",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1250,
        "y": 900,
        "wires": [
            [
                "52c9819eeb309fa6"
            ]
        ]
    },
    {
        "id": "52c9819eeb309fa6",
        "type": "debug",
        "z": "32a335d3c15c5b7b",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 900,
        "wires": []
    },
    {
        "id": "1a62bdccce9afe3a",
        "type": "function",
        "z": "32a335d3c15c5b7b",
        "name": "Update Sensor21",
        "func": "//Get sensors data from join node\nvar tempSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 21;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 1280,
        "wires": [
            [
                "d615fe94c9f29884"
            ]
        ]
    },
    {
        "id": "d615fe94c9f29884",
        "type": "mysql",
        "z": "32a335d3c15c5b7b",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1270,
        "y": 1280,
        "wires": [
            [
                "403e1002b3a41035"
            ]
        ]
    },
    {
        "id": "403e1002b3a41035",
        "type": "debug",
        "z": "32a335d3c15c5b7b",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 1280,
        "wires": []
    },
    {
        "id": "15e15ae341f92220",
        "type": "function",
        "z": "32a335d3c15c5b7b",
        "name": "Update Sensor23",
        "func": "//Get sensors data from join node\nvar tempSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 23;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 1460,
        "wires": [
            [
                "e6b94b96e290f367"
            ]
        ]
    },
    {
        "id": "e6b94b96e290f367",
        "type": "mysql",
        "z": "32a335d3c15c5b7b",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1450,
        "y": 1460,
        "wires": [
            [
                "a16d35165d10b95f"
            ]
        ]
    },
    {
        "id": "a16d35165d10b95f",
        "type": "debug",
        "z": "32a335d3c15c5b7b",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 1460,
        "wires": []
    },
    {
        "id": "d3f5d60dcffdb70a",
        "type": "function",
        "z": "32a335d3c15c5b7b",
        "name": "Update Sensor22",
        "func": "//Get sensors data from join node\nvar humiSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+humiSensorData+\"where sensor_id = 22;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 1720,
        "wires": [
            [
                "798c5af4e1f0f22b"
            ]
        ]
    },
    {
        "id": "798c5af4e1f0f22b",
        "type": "mysql",
        "z": "32a335d3c15c5b7b",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1270,
        "y": 1720,
        "wires": [
            [
                "b1b500894e6eacd5"
            ]
        ]
    },
    {
        "id": "b1b500894e6eacd5",
        "type": "debug",
        "z": "32a335d3c15c5b7b",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 1720,
        "wires": []
    },
    {
        "id": "b4b30b727ad9e85c",
        "type": "function",
        "z": "32a335d3c15c5b7b",
        "name": "Update Sensor24",
        "func": "//Get sensors data from join node\nvar humiSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+humiSensorData+\"where sensor_id = 24;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 1880,
        "wires": [
            [
                "fa94aa9683e87cc2"
            ]
        ]
    },
    {
        "id": "fa94aa9683e87cc2",
        "type": "mysql",
        "z": "32a335d3c15c5b7b",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1470,
        "y": 1880,
        "wires": [
            [
                "2d880991e510d17b"
            ]
        ]
    },
    {
        "id": "2d880991e510d17b",
        "type": "debug",
        "z": "32a335d3c15c5b7b",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 1880,
        "wires": []
    },
    {
        "id": "7bd23920a6aea95b",
        "type": "ui_group",
        "name": "GeorgeAirController31",
        "tab": "22a725656061b08a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "71e366b4088e1fb7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "df91fee14de7c085",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "SmartAgricaltureSchema",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "33a23809813ba298",
        "type": "ui_group",
        "name": "GeorgeSoilController31",
        "tab": "22a725656061b08a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d9e7fc848bce1dd",
        "type": "ui_group",
        "name": "GeorgeAirController32",
        "tab": "22a725656061b08a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ba01d09971ee219a",
        "type": "ui_group",
        "name": "GeorgeSoilController32",
        "tab": "22a725656061b08a",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "22a725656061b08a",
        "type": "ui_tab",
        "name": "GeorgeField3",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]