Node Red/Node Red Example1/Flows/GeorgeField1.json
[
    {
        "id": "8bec00d00783a647",
        "type": "tab",
        "label": "GeorgeField1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "791b2b8c8a2e0dd0",
        "type": "ui_gauge",
        "z": "8bec00d00783a647",
        "name": "",
        "group": "afb84383a881e26e",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Tempature (Sensor1)",
        "label": "units",
        "format": "{{value}}",
        "min": "-15",
        "max": "45",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "5",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "85db39ab26a659bf",
        "type": "mqtt in",
        "z": "8bec00d00783a647",
        "name": "GetTemp",
        "topic": "TempSensorData1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "71e366b4088e1fb7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 280,
        "wires": [
            [
                "791b2b8c8a2e0dd0",
                "3cd0bce74958f49b",
                "92a848e2fed2fb19"
            ]
        ]
    },
    {
        "id": "5b0ad93252b158c4",
        "type": "inject",
        "z": "8bec00d00783a647",
        "name": "TempSensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "TempSensorData1",
        "payload": "20",
        "payloadType": "str",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "6b40de9e2298f6c9"
            ]
        ]
    },
    {
        "id": "bc482398f40bbbb9",
        "type": "mqtt out",
        "z": "8bec00d00783a647",
        "name": "PubTemp",
        "topic": "TempSensorData1",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "71e366b4088e1fb7",
        "x": 420,
        "y": 280,
        "wires": []
    },
    {
        "id": "6b40de9e2298f6c9",
        "type": "function",
        "z": "8bec00d00783a647",
        "name": "function 1",
        "func": "msg.payload = 25+(Math.random());\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 240,
        "wires": [
            [
                "bc482398f40bbbb9"
            ]
        ]
    },
    {
        "id": "4fb130c8952b1995",
        "type": "inject",
        "z": "8bec00d00783a647",
        "name": "HumiditySensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "HumidityValue1",
        "payload": "80",
        "payloadType": "str",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "44f6673eeed0405e"
            ]
        ]
    },
    {
        "id": "44f6673eeed0405e",
        "type": "function",
        "z": "8bec00d00783a647",
        "name": "function 2",
        "func": "msg.payload = 80+(Math.random()*2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 700,
        "wires": [
            [
                "abe4c50613040882"
            ]
        ]
    },
    {
        "id": "abe4c50613040882",
        "type": "mqtt out",
        "z": "8bec00d00783a647",
        "name": "",
        "topic": "HumidityValue1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "71e366b4088e1fb7",
        "x": 440,
        "y": 740,
        "wires": []
    },
    {
        "id": "347e7af36df5a432",
        "type": "mqtt in",
        "z": "8bec00d00783a647",
        "name": "",
        "topic": "HumidityValue1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "71e366b4088e1fb7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 640,
        "y": 740,
        "wires": [
            [
                "603d8dca632c445e",
                "8756212321f73f12",
                "4f530b36baee17f4"
            ]
        ]
    },
    {
        "id": "603d8dca632c445e",
        "type": "ui_gauge",
        "z": "8bec00d00783a647",
        "name": "Air Humitidy (Sensor 2)",
        "group": "afb84383a881e26e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Humitidy (Sensor 2)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#fff7a3",
            "#afafff",
            "#0000ff"
        ],
        "seg1": "40",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 620,
        "wires": []
    },
    {
        "id": "caa15d9bfa647ebc",
        "type": "mysql",
        "z": "8bec00d00783a647",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1050,
        "y": 220,
        "wires": [
            [
                "723eae8274beac6b"
            ]
        ]
    },
    {
        "id": "9d20ca1642ec8aa8",
        "type": "inject",
        "z": "8bec00d00783a647",
        "name": "SoilTempSensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SoilTemp1",
        "payload": "10",
        "payloadType": "num",
        "x": 230,
        "y": 1200,
        "wires": [
            [
                "0e6b3c6bf2bd52c8"
            ]
        ]
    },
    {
        "id": "0e6b3c6bf2bd52c8",
        "type": "function",
        "z": "8bec00d00783a647",
        "name": "function 4",
        "func": "msg.payload = 25+(Math.random());\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1240,
        "wires": [
            [
                "68b2669abb55c7dd"
            ]
        ]
    },
    {
        "id": "68b2669abb55c7dd",
        "type": "mqtt out",
        "z": "8bec00d00783a647",
        "name": "PublishSoilTemp",
        "topic": "SoilTemp1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "71e366b4088e1fb7",
        "x": 610,
        "y": 1280,
        "wires": []
    },
    {
        "id": "6e7bcd35485f3c75",
        "type": "mqtt in",
        "z": "8bec00d00783a647",
        "name": "GetSoilTemp",
        "topic": "SoilTemp1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "71e366b4088e1fb7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 830,
        "y": 1280,
        "wires": [
            [
                "70752ca434e9950f",
                "351ba8e7d6987cd2",
                "09c053af6b19ab0e"
            ]
        ]
    },
    {
        "id": "70752ca434e9950f",
        "type": "ui_gauge",
        "z": "8bec00d00783a647",
        "name": "Soil Tempature (Sensor 5)",
        "group": "06f6a8af563e555d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil Tempature (Sensor 5)",
        "label": "units",
        "format": "{{value}}",
        "min": "-15",
        "max": "40",
        "colors": [
            "#0c00b3",
            "#00e62e",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 1180,
        "wires": []
    },
    {
        "id": "92a848e2fed2fb19",
        "type": "function",
        "z": "8bec00d00783a647",
        "name": "Update Sensor1",
        "func": "//Get sensors data from join node\nvar tempSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 1;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 220,
        "wires": [
            [
                "caa15d9bfa647ebc"
            ]
        ]
    },
    {
        "id": "fcc06e9443760516",
        "type": "function",
        "z": "8bec00d00783a647",
        "name": "function 6",
        "func": "msg.payload = 80+(Math.random()*2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1660,
        "wires": [
            [
                "6c44c9526bbf6c06"
            ]
        ]
    },
    {
        "id": "c1471036afd3b8a1",
        "type": "inject",
        "z": "8bec00d00783a647",
        "name": "SoilHumiSensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SoilHumi1",
        "payload": "10",
        "payloadType": "num",
        "x": 230,
        "y": 1620,
        "wires": [
            [
                "fcc06e9443760516"
            ]
        ]
    },
    {
        "id": "6c44c9526bbf6c06",
        "type": "mqtt out",
        "z": "8bec00d00783a647",
        "name": "PublishHumitidyTemp",
        "topic": "SoilHumi1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "71e366b4088e1fb7",
        "x": 620,
        "y": 1700,
        "wires": []
    },
    {
        "id": "a5a59e070036314e",
        "type": "mqtt in",
        "z": "8bec00d00783a647",
        "name": "GetSoilHumi",
        "topic": "SoilHumi1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "71e366b4088e1fb7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 830,
        "y": 1700,
        "wires": [
            [
                "9cf391435cb1a094",
                "1a5c3547b13b97f9",
                "2f5d86f6eea5965f"
            ]
        ]
    },
    {
        "id": "9cf391435cb1a094",
        "type": "ui_gauge",
        "z": "8bec00d00783a647",
        "name": "Soil Humitidy (Sensor 6)",
        "group": "06f6a8af563e555d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil Humitidy (Sensor 6)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#e4ff1a",
            "#00e60f",
            "#593acb"
        ],
        "seg1": "40",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 1620,
        "wires": []
    },
    {
        "id": "3cd0bce74958f49b",
        "type": "function",
        "z": "8bec00d00783a647",
        "name": "Deviation 2C",
        "func": "//Standar deviation 2 celsious\nmsg.payload+=(Math.random()*4-2);\n\n//Get sensors data\nvar tempSensorData =msg.payload;\nif(tempSensorData>46){\n    tempSensorData=46;\n}\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 2;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 340,
        "wires": [
            [
                "d29a02841289534b",
                "ed4fd8e2122213ca"
            ]
        ]
    },
    {
        "id": "d29a02841289534b",
        "type": "ui_gauge",
        "z": "8bec00d00783a647",
        "name": "",
        "group": "72d0cdbb4d5035b6",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Tempature (Sensor3)",
        "label": "units",
        "format": "{{value}}",
        "min": "-15",
        "max": "45",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "5",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 340,
        "wires": []
    },
    {
        "id": "8756212321f73f12",
        "type": "function",
        "z": "8bec00d00783a647",
        "name": "Deviation 2C",
        "func": "//Standar deviation 2 celsious\nmsg.payload+=(Math.random()*4-2);\n\n//Get sensors data\nvar tempSensorData =msg.payload;\n//Check\nif(tempSensorData>100){\n    tempSensorData=100;\n}\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 2;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 800,
        "wires": [
            [
                "8dc5b6844879ad45",
                "6d6df637fe239c8e"
            ]
        ]
    },
    {
        "id": "8dc5b6844879ad45",
        "type": "ui_gauge",
        "z": "8bec00d00783a647",
        "name": "Air Humitidy (Sensor 4)",
        "group": "72d0cdbb4d5035b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Humitidy (Sensor 4)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#fff7a3",
            "#afafff",
            "#0000ff"
        ],
        "seg1": "40",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 800,
        "wires": []
    },
    {
        "id": "351ba8e7d6987cd2",
        "type": "function",
        "z": "8bec00d00783a647",
        "name": "Deviation 2C",
        "func": "//Standar deviation 2 celsious\nmsg.payload+=(Math.random()*4-2);\n\n//Get sensors data\nvar tempSensorData =msg.payload;\n//check data\nif (tempSensorData>=35){\n    tempSensorData=35;\n}\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 2;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1360,
        "wires": [
            [
                "5a580fb313537b34",
                "7a4ac634dae9bad3"
            ]
        ]
    },
    {
        "id": "1a5c3547b13b97f9",
        "type": "function",
        "z": "8bec00d00783a647",
        "name": "Deviation 2C",
        "func": "//Standar deviation 2 celsious\nmsg.payload+=(Math.random()*4-2);\n\n//Get sensors data\nvar tempSensorData =msg.payload;\n//Check data\nif(tempSensorData>100){\n    tempSensorData=100;\n}\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 2;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1780,
        "wires": [
            [
                "35af88a0896d472a",
                "1b559b83fbbd7c14"
            ]
        ]
    },
    {
        "id": "5a580fb313537b34",
        "type": "ui_gauge",
        "z": "8bec00d00783a647",
        "name": "Soil Tempature (Sensor 7)",
        "group": "3ea7774568b99436",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil Tempature (Sensor 7)",
        "label": "units",
        "format": "{{value}}",
        "min": "-15",
        "max": "40",
        "colors": [
            "#0c00b3",
            "#00e62e",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 1360,
        "wires": []
    },
    {
        "id": "35af88a0896d472a",
        "type": "ui_gauge",
        "z": "8bec00d00783a647",
        "name": "Soil Humitidy (Sensor 8)",
        "group": "3ea7774568b99436",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil Humitidy (Sensor 8)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#e4ff1a",
            "#00e60f",
            "#593acb"
        ],
        "seg1": "40",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 1290,
        "y": 1780,
        "wires": []
    },
    {
        "id": "723eae8274beac6b",
        "type": "debug",
        "z": "8bec00d00783a647",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 220,
        "wires": []
    },
    {
        "id": "ed4fd8e2122213ca",
        "type": "function",
        "z": "8bec00d00783a647",
        "name": "Update Sensor3",
        "func": "//Get sensors data from join node\nvar tempSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 3;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 420,
        "wires": [
            [
                "32fe5d1d685c243e"
            ]
        ]
    },
    {
        "id": "32fe5d1d685c243e",
        "type": "mysql",
        "z": "8bec00d00783a647",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1250,
        "y": 420,
        "wires": [
            [
                "678322ebc5cc1d6a"
            ]
        ]
    },
    {
        "id": "678322ebc5cc1d6a",
        "type": "debug",
        "z": "8bec00d00783a647",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 420,
        "wires": []
    },
    {
        "id": "4f530b36baee17f4",
        "type": "function",
        "z": "8bec00d00783a647",
        "name": "Update Sensor2",
        "func": "//Get sensors data from join node\nvar humiSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+humiSensorData+\"where sensor_id = 2;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 680,
        "wires": [
            [
                "c79ffd163702d122"
            ]
        ]
    },
    {
        "id": "c79ffd163702d122",
        "type": "mysql",
        "z": "8bec00d00783a647",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1070,
        "y": 680,
        "wires": [
            [
                "c3d49c3e9d81ba88"
            ]
        ]
    },
    {
        "id": "c3d49c3e9d81ba88",
        "type": "debug",
        "z": "8bec00d00783a647",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 680,
        "wires": []
    },
    {
        "id": "6d6df637fe239c8e",
        "type": "function",
        "z": "8bec00d00783a647",
        "name": "Update Sensor4",
        "func": "//Get sensors data from join node\nvar humiSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+humiSensorData+\"where sensor_id = 4;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 880,
        "wires": [
            [
                "56903fbd8d4b73a3"
            ]
        ]
    },
    {
        "id": "56903fbd8d4b73a3",
        "type": "mysql",
        "z": "8bec00d00783a647",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1250,
        "y": 880,
        "wires": [
            [
                "ee3555c6c61399fb"
            ]
        ]
    },
    {
        "id": "ee3555c6c61399fb",
        "type": "debug",
        "z": "8bec00d00783a647",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 880,
        "wires": []
    },
    {
        "id": "09c053af6b19ab0e",
        "type": "function",
        "z": "8bec00d00783a647",
        "name": "Update Sensor5",
        "func": "//Get sensors data from join node\nvar tempSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 5;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1260,
        "wires": [
            [
                "2484c083b13234fe"
            ]
        ]
    },
    {
        "id": "2484c083b13234fe",
        "type": "mysql",
        "z": "8bec00d00783a647",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1270,
        "y": 1260,
        "wires": [
            [
                "4cf53ed61388a744"
            ]
        ]
    },
    {
        "id": "4cf53ed61388a744",
        "type": "debug",
        "z": "8bec00d00783a647",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 1260,
        "wires": []
    },
    {
        "id": "7a4ac634dae9bad3",
        "type": "function",
        "z": "8bec00d00783a647",
        "name": "Update Sensor7",
        "func": "//Get sensors data from join node\nvar tempSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 7;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1440,
        "wires": [
            [
                "5269f93e0db5c0a8"
            ]
        ]
    },
    {
        "id": "5269f93e0db5c0a8",
        "type": "mysql",
        "z": "8bec00d00783a647",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1450,
        "y": 1440,
        "wires": [
            [
                "d7d7e297feea9429"
            ]
        ]
    },
    {
        "id": "d7d7e297feea9429",
        "type": "debug",
        "z": "8bec00d00783a647",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 1440,
        "wires": []
    },
    {
        "id": "2f5d86f6eea5965f",
        "type": "function",
        "z": "8bec00d00783a647",
        "name": "Update Sensor6",
        "func": "//Get sensors data from join node\nvar humiSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+humiSensorData+\"where sensor_id = 6;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1700,
        "wires": [
            [
                "9f0c1cc413234a95"
            ]
        ]
    },
    {
        "id": "9f0c1cc413234a95",
        "type": "mysql",
        "z": "8bec00d00783a647",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1270,
        "y": 1700,
        "wires": [
            [
                "e5ba9383c0e0828a"
            ]
        ]
    },
    {
        "id": "e5ba9383c0e0828a",
        "type": "debug",
        "z": "8bec00d00783a647",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 1700,
        "wires": []
    },
    {
        "id": "1b559b83fbbd7c14",
        "type": "function",
        "z": "8bec00d00783a647",
        "name": "Update Sensor8",
        "func": "//Get sensors data from join node\nvar humiSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+humiSensorData+\"where sensor_id = 8;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 1860,
        "wires": [
            [
                "0eada871eac3d170"
            ]
        ]
    },
    {
        "id": "0eada871eac3d170",
        "type": "mysql",
        "z": "8bec00d00783a647",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1470,
        "y": 1860,
        "wires": [
            [
                "02ddcfe05375958e"
            ]
        ]
    },
    {
        "id": "02ddcfe05375958e",
        "type": "debug",
        "z": "8bec00d00783a647",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 1860,
        "wires": []
    },
    {
        "id": "afb84383a881e26e",
        "type": "ui_group",
        "name": "GeorgeControllerAir11",
        "tab": "f2d17f70da8640ff",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "71e366b4088e1fb7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "df91fee14de7c085",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "SmartAgricaltureSchema",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "06f6a8af563e555d",
        "type": "ui_group",
        "name": "GeorgeSoilController11",
        "tab": "f2d17f70da8640ff",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "72d0cdbb4d5035b6",
        "type": "ui_group",
        "name": "GeorgeAirController12",
        "tab": "f2d17f70da8640ff",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "3ea7774568b99436",
        "type": "ui_group",
        "name": "GeorgeSoilController12",
        "tab": "f2d17f70da8640ff",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "f2d17f70da8640ff",
        "type": "ui_tab",
        "name": "GeorgeField1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]