Node Red/Flows/EleniField4.json
[
    {
        "id": "6691918c52d5eaf5",
        "type": "tab",
        "label": "EleniField4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ce117e02da0418f",
        "type": "ui_gauge",
        "z": "6691918c52d5eaf5",
        "name": "",
        "group": "f40fc3f0777f6f5b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Tempature (Sensor25)",
        "label": "units",
        "format": "{{value}}",
        "min": "-15",
        "max": "45",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "5",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 300,
        "wires": []
    },
    {
        "id": "3586bc8e2f2f58d7",
        "type": "mqtt in",
        "z": "6691918c52d5eaf5",
        "name": "GetTemp",
        "topic": "TempSensorData4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "71e366b4088e1fb7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 820,
        "y": 420,
        "wires": [
            [
                "4ce117e02da0418f",
                "847948f683f9f736",
                "c4125a80dab75908"
            ]
        ]
    },
    {
        "id": "883d3ac0671aabd1",
        "type": "inject",
        "z": "6691918c52d5eaf5",
        "name": "TempSensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "TempSensorData4",
        "payload": "20",
        "payloadType": "str",
        "x": 300,
        "y": 340,
        "wires": [
            [
                "86e84d6e934d5f58"
            ]
        ]
    },
    {
        "id": "d11d76d1a3e818af",
        "type": "mqtt out",
        "z": "6691918c52d5eaf5",
        "name": "PubTemp",
        "topic": "TempSensorData4",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "71e366b4088e1fb7",
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "86e84d6e934d5f58",
        "type": "function",
        "z": "6691918c52d5eaf5",
        "name": "function 15",
        "func": "msg.payload = 25+(Math.random());\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 380,
        "wires": [
            [
                "d11d76d1a3e818af"
            ]
        ]
    },
    {
        "id": "61673dbbff442539",
        "type": "inject",
        "z": "6691918c52d5eaf5",
        "name": "HumiditySensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "HumidityValue4",
        "payload": "80",
        "payloadType": "str",
        "x": 310,
        "y": 780,
        "wires": [
            [
                "4e506300bd7511f9"
            ]
        ]
    },
    {
        "id": "4e506300bd7511f9",
        "type": "function",
        "z": "6691918c52d5eaf5",
        "name": "function 16",
        "func": "msg.payload = 80+(Math.random()*2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 840,
        "wires": [
            [
                "ad77c231872d8f69"
            ]
        ]
    },
    {
        "id": "ad77c231872d8f69",
        "type": "mqtt out",
        "z": "6691918c52d5eaf5",
        "name": "",
        "topic": "HumidityValue4",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "71e366b4088e1fb7",
        "x": 640,
        "y": 880,
        "wires": []
    },
    {
        "id": "e95a616316423d3c",
        "type": "mqtt in",
        "z": "6691918c52d5eaf5",
        "name": "",
        "topic": "HumidityValue4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "71e366b4088e1fb7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 840,
        "y": 880,
        "wires": [
            [
                "dec1c3594f144618",
                "61cf8f5c1cde9fa7",
                "e2c29c8ea0d77acf"
            ]
        ]
    },
    {
        "id": "dec1c3594f144618",
        "type": "ui_gauge",
        "z": "6691918c52d5eaf5",
        "name": "Air Humitidy (Sensor 26)",
        "group": "f40fc3f0777f6f5b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Humitidy (Sensor 26)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#fff7a3",
            "#afafff",
            "#0000ff"
        ],
        "seg1": "40",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 760,
        "wires": []
    },
    {
        "id": "3f429f7526feaea4",
        "type": "mysql",
        "z": "6691918c52d5eaf5",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1250,
        "y": 360,
        "wires": [
            [
                "e213066b460b1bba"
            ]
        ]
    },
    {
        "id": "64bdd01d35485da4",
        "type": "inject",
        "z": "6691918c52d5eaf5",
        "name": "SoilTempSensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SoilTemp4",
        "payload": "10",
        "payloadType": "num",
        "x": 430,
        "y": 1340,
        "wires": [
            [
                "69d24d6aa844a70a"
            ]
        ]
    },
    {
        "id": "69d24d6aa844a70a",
        "type": "function",
        "z": "6691918c52d5eaf5",
        "name": "function 17",
        "func": "msg.payload = 25+(Math.random());\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1380,
        "wires": [
            [
                "1f08a2c10577692e"
            ]
        ]
    },
    {
        "id": "1f08a2c10577692e",
        "type": "mqtt out",
        "z": "6691918c52d5eaf5",
        "name": "PublishSoilTemp",
        "topic": "SoilTemp4",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "71e366b4088e1fb7",
        "x": 810,
        "y": 1420,
        "wires": []
    },
    {
        "id": "fcd6e7d59306b437",
        "type": "mqtt in",
        "z": "6691918c52d5eaf5",
        "name": "GetSoilTemp",
        "topic": "SoilTemp4",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "71e366b4088e1fb7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1030,
        "y": 1420,
        "wires": [
            [
                "b60e7ab139de7a78",
                "7bfb80aa8f3963c1",
                "1318ec7f2e105083"
            ]
        ]
    },
    {
        "id": "b60e7ab139de7a78",
        "type": "ui_gauge",
        "z": "6691918c52d5eaf5",
        "name": "Soil Tempature (Sensor 29)",
        "group": "8bfb1170620c6eeb",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil Tempature (Sensor 29)",
        "label": "units",
        "format": "{{value}}",
        "min": "-15",
        "max": "40",
        "colors": [
            "#0c00b3",
            "#00e62e",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 1300,
        "y": 1320,
        "wires": []
    },
    {
        "id": "c4125a80dab75908",
        "type": "function",
        "z": "6691918c52d5eaf5",
        "name": "Update Sensor25",
        "func": "//Get sensors data from join node\nvar tempSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 25;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 360,
        "wires": [
            [
                "3f429f7526feaea4"
            ]
        ]
    },
    {
        "id": "f82bfce429557d2b",
        "type": "function",
        "z": "6691918c52d5eaf5",
        "name": "function 18",
        "func": "msg.payload = 35+(Math.random()*2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1800,
        "wires": [
            [
                "f1a17b3fede65fb6"
            ]
        ]
    },
    {
        "id": "c7e4084e8035941f",
        "type": "inject",
        "z": "6691918c52d5eaf5",
        "name": "SoilHumiSensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SoilHumi4",
        "payload": "10",
        "payloadType": "num",
        "x": 430,
        "y": 1760,
        "wires": [
            [
                "f82bfce429557d2b"
            ]
        ]
    },
    {
        "id": "f1a17b3fede65fb6",
        "type": "mqtt out",
        "z": "6691918c52d5eaf5",
        "name": "PublishHumitidyTemp",
        "topic": "SoilHumi4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "71e366b4088e1fb7",
        "x": 820,
        "y": 1840,
        "wires": []
    },
    {
        "id": "7d1cb54b4c25b47e",
        "type": "mqtt in",
        "z": "6691918c52d5eaf5",
        "name": "GetSoilHumi",
        "topic": "SoilHumi4",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "71e366b4088e1fb7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1030,
        "y": 1840,
        "wires": [
            [
                "5d37be3987b388c3",
                "f5ef0ae2a93dfa28",
                "2fe0af7d7aac6d9f"
            ]
        ]
    },
    {
        "id": "5d37be3987b388c3",
        "type": "ui_gauge",
        "z": "6691918c52d5eaf5",
        "name": "Soil Humitidy (Sensor 30)",
        "group": "8bfb1170620c6eeb",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil Humitidy (Sensor 30)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#e4ff1a",
            "#00e60f",
            "#593acb"
        ],
        "seg1": "40",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 1290,
        "y": 1760,
        "wires": []
    },
    {
        "id": "847948f683f9f736",
        "type": "function",
        "z": "6691918c52d5eaf5",
        "name": "Deviation 2C",
        "func": "//Standar deviation 2 celsious\nmsg.payload+=(Math.random()*4-2);\n\n//Get sensors data\nvar tempSensorData =msg.payload;\nif(tempSensorData>46){\n    tempSensorData=46;\n}\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 2;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 480,
        "wires": [
            [
                "16c5f3fce74ef902",
                "f3783b2cfe48a1fb"
            ]
        ]
    },
    {
        "id": "16c5f3fce74ef902",
        "type": "ui_gauge",
        "z": "6691918c52d5eaf5",
        "name": "",
        "group": "15adc4a113cf9bb6",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Tempature (Sensor27)",
        "label": "units",
        "format": "{{value}}",
        "min": "-15",
        "max": "45",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "5",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 480,
        "wires": []
    },
    {
        "id": "61cf8f5c1cde9fa7",
        "type": "function",
        "z": "6691918c52d5eaf5",
        "name": "Deviation 2C",
        "func": "//Standar deviation 2 celsious\nmsg.payload+=(Math.random()*4-2);\n\n//Get sensors data\nvar tempSensorData =msg.payload;\n//Check\nif(tempSensorData>100){\n    tempSensorData=100;\n}\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 2;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 940,
        "wires": [
            [
                "5962da56aefe79be",
                "6be2e02d659ca4e6"
            ]
        ]
    },
    {
        "id": "5962da56aefe79be",
        "type": "ui_gauge",
        "z": "6691918c52d5eaf5",
        "name": "Air Humitidy (Sensor 28)",
        "group": "15adc4a113cf9bb6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Humitidy (Sensor 28)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#fff7a3",
            "#afafff",
            "#0000ff"
        ],
        "seg1": "40",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 940,
        "wires": []
    },
    {
        "id": "7bfb80aa8f3963c1",
        "type": "function",
        "z": "6691918c52d5eaf5",
        "name": "Deviation 2C",
        "func": "//Standar deviation 2 celsious\nmsg.payload+=(Math.random()*4-2);\n\n//Get sensors data\nvar tempSensorData =msg.payload;\n//check data\nif (tempSensorData>=35){\n    tempSensorData=35;\n}\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 2;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 1500,
        "wires": [
            [
                "6447d1dd12aaaf75",
                "a6b19846d0daf6b2"
            ]
        ]
    },
    {
        "id": "f5ef0ae2a93dfa28",
        "type": "function",
        "z": "6691918c52d5eaf5",
        "name": "Deviation 2C",
        "func": "//Standar deviation 2 celsious\nmsg.payload+=(Math.random()*4-2);\n\n//Get sensors data\nvar tempSensorData =msg.payload;\n//Check data\nif(tempSensorData>100){\n    tempSensorData=100;\n}\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 2;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 1920,
        "wires": [
            [
                "5aaf32c822114bcf",
                "6bc705072b9ed391"
            ]
        ]
    },
    {
        "id": "6447d1dd12aaaf75",
        "type": "ui_gauge",
        "z": "6691918c52d5eaf5",
        "name": "Soil Tempature (Sensor 31)",
        "group": "5a219c1284965084",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil Tempature (Sensor 31)",
        "label": "units",
        "format": "{{value}}",
        "min": "-15",
        "max": "40",
        "colors": [
            "#0c00b3",
            "#00e62e",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 1480,
        "y": 1500,
        "wires": []
    },
    {
        "id": "5aaf32c822114bcf",
        "type": "ui_gauge",
        "z": "6691918c52d5eaf5",
        "name": "Soil Humitidy (Sensor 32)",
        "group": "5a219c1284965084",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil Humitidy (Sensor 32)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#e4ff1a",
            "#00e60f",
            "#593acb"
        ],
        "seg1": "40",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 1490,
        "y": 1920,
        "wires": []
    },
    {
        "id": "e213066b460b1bba",
        "type": "debug",
        "z": "6691918c52d5eaf5",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 360,
        "wires": []
    },
    {
        "id": "f3783b2cfe48a1fb",
        "type": "function",
        "z": "6691918c52d5eaf5",
        "name": "Update Sensor27",
        "func": "//Get sensors data from join node\nvar tempSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 27;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 560,
        "wires": [
            [
                "77e20ba95931ae7b"
            ]
        ]
    },
    {
        "id": "77e20ba95931ae7b",
        "type": "mysql",
        "z": "6691918c52d5eaf5",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1450,
        "y": 560,
        "wires": [
            [
                "b1456a0e40b28ed7"
            ]
        ]
    },
    {
        "id": "b1456a0e40b28ed7",
        "type": "debug",
        "z": "6691918c52d5eaf5",
        "name": "debug 27",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 560,
        "wires": []
    },
    {
        "id": "e2c29c8ea0d77acf",
        "type": "function",
        "z": "6691918c52d5eaf5",
        "name": "Update Sensor26",
        "func": "//Get sensors data from join node\nvar humiSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+humiSensorData+\"where sensor_id = 26;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 820,
        "wires": [
            [
                "576c6ffd765b274b"
            ]
        ]
    },
    {
        "id": "576c6ffd765b274b",
        "type": "mysql",
        "z": "6691918c52d5eaf5",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1270,
        "y": 820,
        "wires": [
            [
                "47348b1a6e825eea"
            ]
        ]
    },
    {
        "id": "47348b1a6e825eea",
        "type": "debug",
        "z": "6691918c52d5eaf5",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 820,
        "wires": []
    },
    {
        "id": "6be2e02d659ca4e6",
        "type": "function",
        "z": "6691918c52d5eaf5",
        "name": "Update Sensor28",
        "func": "//Get sensors data from join node\nvar humiSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+humiSensorData+\"where sensor_id = 28;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 1020,
        "wires": [
            [
                "062090360f8ccfd4"
            ]
        ]
    },
    {
        "id": "062090360f8ccfd4",
        "type": "mysql",
        "z": "6691918c52d5eaf5",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1450,
        "y": 1020,
        "wires": [
            [
                "e349416435871802"
            ]
        ]
    },
    {
        "id": "e349416435871802",
        "type": "debug",
        "z": "6691918c52d5eaf5",
        "name": "debug 29",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 1020,
        "wires": []
    },
    {
        "id": "1318ec7f2e105083",
        "type": "function",
        "z": "6691918c52d5eaf5",
        "name": "Update Sensor29",
        "func": "//Get sensors data from join node\nvar tempSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 29;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 1400,
        "wires": [
            [
                "4536035821c4675c"
            ]
        ]
    },
    {
        "id": "4536035821c4675c",
        "type": "mysql",
        "z": "6691918c52d5eaf5",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1470,
        "y": 1400,
        "wires": [
            [
                "97c97df89b51a455"
            ]
        ]
    },
    {
        "id": "97c97df89b51a455",
        "type": "debug",
        "z": "6691918c52d5eaf5",
        "name": "debug 30",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 1400,
        "wires": []
    },
    {
        "id": "a6b19846d0daf6b2",
        "type": "function",
        "z": "6691918c52d5eaf5",
        "name": "Update Sensor31",
        "func": "//Get sensors data from join node\nvar tempSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+tempSensorData+\"where sensor_id = 31;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 1580,
        "wires": [
            [
                "21b20b0ae6fbdfff"
            ]
        ]
    },
    {
        "id": "21b20b0ae6fbdfff",
        "type": "mysql",
        "z": "6691918c52d5eaf5",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1650,
        "y": 1580,
        "wires": [
            [
                "18363a573ed63897"
            ]
        ]
    },
    {
        "id": "18363a573ed63897",
        "type": "debug",
        "z": "6691918c52d5eaf5",
        "name": "debug 31",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 1580,
        "wires": []
    },
    {
        "id": "2fe0af7d7aac6d9f",
        "type": "function",
        "z": "6691918c52d5eaf5",
        "name": "Update Sensor30",
        "func": "//Get sensors data from join node\nvar humiSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+humiSensorData+\"where sensor_id = 30;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 1840,
        "wires": [
            [
                "f939062816cbb2ee"
            ]
        ]
    },
    {
        "id": "f939062816cbb2ee",
        "type": "mysql",
        "z": "6691918c52d5eaf5",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1470,
        "y": 1840,
        "wires": [
            [
                "b04e08d4df47187b"
            ]
        ]
    },
    {
        "id": "b04e08d4df47187b",
        "type": "debug",
        "z": "6691918c52d5eaf5",
        "name": "debug 32",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 1840,
        "wires": []
    },
    {
        "id": "6bc705072b9ed391",
        "type": "function",
        "z": "6691918c52d5eaf5",
        "name": "Update Sensor32",
        "func": "//Get sensors data from join node\nvar humiSensorData =msg.payload;\n//Set query to topic\nmsg.topic = \"update Sensors set sensor_data =\"+humiSensorData+\"where sensor_id = 32;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 2000,
        "wires": [
            [
                "99154274761abf6c"
            ]
        ]
    },
    {
        "id": "99154274761abf6c",
        "type": "mysql",
        "z": "6691918c52d5eaf5",
        "mydb": "df91fee14de7c085",
        "name": "SendData to base",
        "x": 1670,
        "y": 2000,
        "wires": [
            [
                "1692e95bc8d11ece"
            ]
        ]
    },
    {
        "id": "1692e95bc8d11ece",
        "type": "debug",
        "z": "6691918c52d5eaf5",
        "name": "debug 33",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1900,
        "y": 2000,
        "wires": []
    },
    {
        "id": "f40fc3f0777f6f5b",
        "type": "ui_group",
        "name": "EleniAirController41",
        "tab": "90c7dd8c1718c894",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "71e366b4088e1fb7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "df91fee14de7c085",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "SmartAgricaltureSchema",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "8bfb1170620c6eeb",
        "type": "ui_group",
        "name": "EleniSoilController41",
        "tab": "90c7dd8c1718c894",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "15adc4a113cf9bb6",
        "type": "ui_group",
        "name": "EleniAirController42",
        "tab": "90c7dd8c1718c894",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a219c1284965084",
        "type": "ui_group",
        "name": "EleniSoilController42",
        "tab": "90c7dd8c1718c894",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "90c7dd8c1718c894",
        "type": "ui_tab",
        "name": "EleniField4",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]